ion-slides {
  .debit-card {
    width: 320px;
    height: 186px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  }
  .debit-card.front {
    background-image: linear-gradient(to bottom, #5d2c90, #9f4073);
  }
  .debit-card.back {
    background-image: linear-gradient(to top, #5d2c90, #9f4073) !important;
  }
}

.fund-card {
  background: #f9f9ff;
  border: 1px solid #ececff;
  box-sizing: border-box;
  ion-button {
    height: 50px !important;
  }
}