ion-header {
  ion-toolbar {
    --background: url("../../assets/img/header-bg.svg");
    --background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: contain;
    --border-color: red;
  }
}
